<h1>New employee</h1>

<%= render "form", employee: @employee, divisionsIds: @divisionsIds, teamsIds: @teamsIds%>
<%= render "lists"%>
<br>

<div>
  <%= link_to "Back to employees", employees_path %>
</div>
