<div>
<h1><%= t 'HR Adminstration System', default: 'not exist' %></h1>


<ul>
    <li><%= link_to  (t("Sign in")), new_user_session_url %></li>
    <li><%= link_to  (t("Sign out")), destroy_user_session_path %></li>
    <li><%= link_to  (t("Sign up")), new_user_registration_path %></li>
</ul>


</div>